<table mat-table [dataSource]="tableDataSrc" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name:</mat-header-cell>
    <mat-cell *matCellDef="let profile">{{ profile.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="role">
    <mat-header-cell *matHeaderCellDef>Role:</mat-header-cell>
    <mat-cell *matCellDef="let profile">{{ profile.role }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="skillset">
    <mat-header-cell *matHeaderCellDef>Skills:</mat-header-cell>
    <mat-cell *matCellDef="let profile">{{ profile.skillset }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="color">
    <mat-header-cell *matHeaderCellDef>Color:</mat-header-cell>
    <mat-cell *matCellDef="let profile">{{ profile.color }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="humor">
    <mat-header-cell *matHeaderCellDef>Humor:</mat-header-cell>
    <mat-cell *matCellDef="let profile">{{ profile.humor }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="tableCols"></mat-header-row>
  <mat-row *matRowDef="let row; columns: tableCols"></mat-row>
</table>
